############
# [required]
# n8n credentials - you set this to whatever you want, just make it a long and secure string for both!
############

# To generate a secure random key, run: openssl rand -hex 32

N8N_ENCRYPTION_KEY=secret_pass_string
N8N_USER_MANAGEMENT_JWT_SECRET=secret_pass_string
N8N_API_KEY=secret_pass_string

############
# [required]
# Supabase Secrets

POSTGRES_PASSWORD=secret_pass_string

############
# [required]
# Qdrant API Key
############
QDRANT_API_KEY=secret_pass_string

############
# [required]
# pgAdmin Credentials
############
PGADMIN_DEFAULT_EMAIL=admin@openorbit.pro
PGADMIN_DEFAULT_PASSWORD=secret_pass_string
PGADMIN_HOSTNAME=pgadmin.openorbit.pro
PGWEB_HOSTNAME=pgweb.openorbit.pro

# Everything below this point is optional.
# Default values will suffice unless you need more features/customization.

RUN_N8N_IMPORT=false

############
# Database — each service has its own DB and user (created by init-dbs.sh for evolution/langfuse).
# For Docker Compose the host must be "postgres" (service name).
############

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# n8n (main DB, created by postgres image)
POSTGRES_DB=n8n_production
POSTGRES_USER=n8n
POSTGRES_PASSWORD=secret_pass_string

# Evolution API (DB and user created by init-dbs.sh)
EVOLUTION_DB_USER=evolution_api
EVOLUTION_DB_PASSWORD=secret_pass_string
EVOLUTION_DB_NAME=evolution_api

# Langfuse (DB and user created by init-dbs.sh; only when using --profile langfuse)
LANGFUSE_DB_USER=langfuse
LANGFUSE_DB_PASSWORD=secret_pass_string
LANGFUSE_DB_NAME=langfuse

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

############
# [required]
# Langfuse credentials
# Each of the secret keys you can set to whatever you want, just make it secure!
# For the encryption key, use the command `openssl rand -hex 32`
#   openssl is available by defualt on Linux/Mac
#   For Windows, you can use the 'Git Bash' terminal installed with git
############

# CLICKHOUSE_PASSWORD=$(genpass)
# MINIO_ROOT_PASSWORD=$(genpass)
# LANGFUSE_SALT=$(openssl rand -hex 16)
# NEXTAUTH_SECRET=$(openssl rand -base64 32)
# ENCRYPTION_KEY=$(openssl rand -base64 32)
# LANGFUSE_INIT_PROJECT_PUBLIC_KEY=$(openssl rand -hex 16)
# LANGFUSE_INIT_PROJECT_SECRET_KEY=$(openssl rand -base64 32)
# LANGFUSE_INIT_USER_PASSWORD=$(genpass)

CLICKHOUSE_PASSWORD=secret_pass_string
MINIO_ROOT_PASSWORD=secret_pass_string
LANGFUSE_SALT=secret_pass_string
NEXTAUTH_SECRET=
ENCRYPTION_KEY=

LANGFUSE_INIT_ORG_ID=modelrow_org
LANGFUSE_INIT_ORG_NAME=ModelRow
LANGFUSE_INIT_PROJECT_ID=n8n_project
LANGFUSE_INIT_PROJECT_NAME="N8N Project"
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=secret_pass_string
LANGFUSE_INIT_PROJECT_SECRET_KEY=secret_pass_string
LANGFUSE_INIT_USER_EMAIL=modelrow.ops@gmail.com
LANGFUSE_INIT_USER_PASSWORD=secret_pass_string


############
# [required for prod]
# Caddy Config

# By default listen on https://localhost:[service port] and don't use an email for SSL
# To change this for production:
# Uncomment all of these environment variables for the services you want exposed
# Note that you might not want to expose Ollama or SearXNG since they aren't secured by default
# Replace the placeholder value with the host for each service (like n8n.yourdomain.com)
# Replace internal by your email (require to create a Let's Encrypt certificate)
############

############
# LOCAL DEVELOPMENT - Use localhost
############

# USER_DOMAIN_NAME=localhost
# N8N_HOSTNAME=localhost:7687
# # N8N_HOSTNAME=bee-champion-reindeer.ngrok-free.app
# QDRANT_HOSTNAME=qdrant.localhost
# LETSENCRYPT_EMAIL=vp@openorbit.pro
# LANGFUSE_HOSTNAME=langfuse.localhost

############
# PRODUCTION - Uncomment these when deploying to production
############

USER_DOMAIN_NAME=openorbit.pro
N8N_HOSTNAME=n8n.openorbit.pro
QDRANT_HOSTNAME=qdrant.openorbit.pro
PGADMIN_HOSTNAME=pgadmin.openorbit.pro
PGWEB_HOSTNAME=pgweb.openorbit.pro
LETSENCRYPT_EMAIL=yourdomain@openorbit.pro
LANGFUSE_HOSTNAME=langfuse.openorbit.pro


WEBHOOK_URL=https://n8n.openorbit.pro
# N8N_EDITOR_BASE_URL=https://bee-champion-reindeer.ngrok-free.app

N8N_WORKER_COUNT=2


# KAMAL deploy
KAMAL_REGISTRY_PASSWORD=password

DOCKER_HUB_USER=leemour
DOCKER_HUB_PASSWORD=password

N8N_API_KEY=secret_pass_string

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
