{
    # Global options - works for both environments
    email {$LETSENCRYPT_EMAIL}
}

http://:7687 {
    reverse_proxy n8n:5678
}

# N8N
# {$N8N_HOSTNAME} {
#     # For domains, Caddy will automatically use Let's Encrypt
#     # For localhost/port addresses, HTTPS won't be enabled
#     reverse_proxy n8n:5678
# }

# Qdrant
{$QDRANT_HOSTNAME} {
    reverse_proxy qdrant:6333
}

# pgAdmin
{$PGADMIN_HOSTNAME} {
    reverse_proxy pgadmin:80
}

# Langfuse
{$LANGFUSE_HOSTNAME} {
    reverse_proxy langfuse-web:3000
}

import /etc/caddy/addons/*.conf
