{
    # Global options
    email {{ letsencrypt_email }}
}

# Production domains (openorbit.pro)
n8n.openorbit.pro {
    reverse_proxy {{ shared_docker_network }}_n8n_1:5678
}

qdrant.openorbit.pro {
    reverse_proxy {{ shared_docker_network }}_qdrant_1:6333
}

langfuse.openorbit.pro {
    reverse_proxy {{ shared_docker_network }}_langfuse-web_1:3000
}

# Staging domains (staging.openorbit.pro)
n8n.staging.openorbit.pro {
    reverse_proxy {{ shared_docker_network }}_n8n_1:5678
}

qdrant.staging.openorbit.pro {
    reverse_proxy {{ shared_docker_network }}_qdrant_1:6333
}

langfuse.staging.openorbit.pro {
    reverse_proxy {{ shared_docker_network }}_langfuse-web_1:3000
}

# Import all application configurations from addons
import /etc/caddy/addons/*.conf
