{
    # Global options
    email {{ letsencrypt_email }}
}

# Production domains
n8n.{{ server_domain }} {
    reverse_proxy n8n:5678
}

qdrant.{{ server_domain }} {
    reverse_proxy qdrant:6333
}

langfuse.{{ server_domain }} {
    reverse_proxy langfuse-web:3000
}

pgadmin.{{ server_domain }} {
    reverse_proxy pgadmin:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Script-Name ""
    }
}

# pgWeb (host systemd service)
pgweb.{{ server_domain }} {
    reverse_proxy host.docker.internal:8081
}

# Staging domains
n8n-staging.{{ server_domain }} {
    reverse_proxy n8n:5678
}

qdrant-staging.{{ server_domain }} {
    reverse_proxy qdrant:6333
}

langfuse-staging.{{ server_domain }} {
    reverse_proxy langfuse-web:3000
}

pgadmin-staging.{{ server_domain }} {
    reverse_proxy pgadmin:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Script-Name ""
    }
}

pgweb-staging.{{ server_domain }} {
    reverse_proxy host.docker.internal:8081
}

# Import all application configurations from addons
import /etc/caddy/addons/*.conf
